@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkgrey; "><b>Summer sale!</b></h1>

</div>
<div class="CenterTable" style="margin-left:87px">
    <div class="gallery">
        <a target="_blank" href="https://molnarmilan6.itch.io/wiwu">
            <img src="~/Game_Images/WIWUss_Image.png" alt="WIWU" width="600" height="400">
        </a>
        <div class="desc">Free</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-hk/product/HP0082-CUSA06592_00-0000000000000000">
            <img src="~/Game_Images/Nier_Image.jpg" alt="Buy Nier Automata" width="600" height="400">
        </a>
        <div class="desc">666 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP0002-CUSA08829_00-CODMWTHEGAME0001">
            <img src="~/Game_Images/CoD_Image.jpg" alt="Call of Duty: Modern Warfare" width="600" height="400">
        </a>
        <div class="desc">69.69 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-hu/product/EP0082-CUSA01615_00-FFXVROYALEDITION">
            <img src="~/Game_Images/FF_Image.jpg" alt="Final Fantasy XV (Royal edition)" width="600" height="400">
        </a>
        <div class="desc">420 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP9000-CUSA07820_00-THELASTOFUSPART2">
            <img src="~/Game_Images/LoU_Image.jpg" alt="Last of Us II" width="600" height="400">
        </a>
        <div class="desc">360 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-hu/product/EP0102-CUSA09171_00-BH2R000000000001">
            <img src="~/Game_Images/Resident2_Image.jpg" alt="/Resident 2" width="600" height="400">
        </a>
        <div class="desc">4.20 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP9000-CUSA02522_00-JADBUNDLE0000001">
            <img src="~/Game_Images/JD_Image.jpg" alt="Jak and Dexter" width="600" height="400">
        </a>
        <div class="desc">3.60 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP1023-CUSA17197_00-ENGBVSDIGITALDEL">
            <img src="~/Game_Images/GF_Image.jpg" alt="GF" width="600" height="400">
        </a>
        <div class="desc">6.66 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP9000-CUSA15532_00-NIOH2DELUXE000US">
            <img src="~/Game_Images/NiohII_Image.jpg" alt="Nioh II" width="600" height="400">
        </a>
        <div class="desc">17 $</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="https://store.playstation.com/en-us/product/UP0006-CUSA15557_00-FIFAFOOTBALL2020">
            <img src="~/Game_Images/FIFA20_Image.jpg" alt="FIFA20" width="600" height="400">
        </a>
        <div class="desc">0.2 $</div>
    </div>
</div>  
<div style="margin-top:48%; margin-left:20%">
    <form class="form" method="get">
        <p style="color:orange">To subscribe to our news letter for more awesome offers, please enter your e-mail and click 'Subscribe'.</p>
        <div style=" margin-left:23%">
            <input placeholder="user@client.com" type="text" id="email" name="email" />
            <button id="submit" onclick="alert('You Subscribed!')">
                Subscribe
            </button>
        </div>
</form>
</div>



