/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}

/* Provide sufficient contrast against white background */
a {
  color: orange;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: #2c2c2c !important;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("https://wallpaperaccess.com/full/221443.jpg");
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    border-radius:12px;
    width: 180px;
}

    div.gallery:hover {
        border: 3px solid orange;
    }

    div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

div.desc {
    padding: 15px;
    text-align: center;
    color:#b0b0b0;
}

#submit {
    background-color: #777;
    padding: .5em;
    padding-top :2.6px;
    border-radius: 7px;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    border: none;
    height: 34px;
    
}

#submit:hover {
    border: none;
    background: orange;
    box-shadow: 0px 0px 0px #777;
}

ol {
    background: #ff9999;
    padding: 10px;
}

ul {
    background: #3399ff;
    padding: 15px;
    border-radius: 7px;
}

li {
    background: #3399ff;
    padding: 2px;
    margin-left: 35px;
}

ul li {
    background: #3399ff;
    margin: 5px;
}
